<h1>Cambiar la contraseña</h1>
{{>menu}}
<hr>
<section class="container">
    <section class="login">
        <form action="/resetpassword/request-password-reset" method="POST">
            <label for="email">Ingresá tu correo electrónico:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Enviar</button>
        </form>
        <br><br>
    </section>
</section>