{{>menu}}
<hr>
<section class="container">
    <section class="login">
        <form id="formLogin" action="/api/sessions/login" method="post">
            <h1>Login:</h1>
            <div class="formulario">
                <label>Ingresá tu email</label>
                <input type="email" name="email" placeholder="Correo electrónico" required>
            </div>
            <div class="formulario">
                <label>Ingresá tu contraseña</label>
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <input type="hidden" name="redirect" value="true">
            <div class="formulario">
                {{#if error}}
                    <div style="font-weight: bold; color: rgb(255, 31, 1);">{{error}}</div>
                {{/if}}
            </div>
            <div class="formulario">
                <a><button type="submit" value="Login">Ingresar</button></a>
                <a href="/api/sessions/github?redirect=true"><button type="button">Ingresar con Github</button></a>
                <a href="/sendpassword"><button type="button">Olvidé mi contraseña</button></a>
                <a href="/registro"><button type="button">No tenes usuario? Registrate acá</button></a>
            </div>
        </form>
        <br><br>
    </section>
</section>
<script src="js/login.js"></script>
