{{>menu}}
<hr>
<h1>Restablecer Contraseña</h1>
<section class="container">
    <section class="login">
        <form id="reset-password-form" method="POST" action="resetpassword/{{token}}">
            <input type="hidden" name="token" value="{{token}}" />
            <div class="container">

            <label for="newPassword">Nueva Contraseña:</label>
            </div>
            <input type="password" id="newPassword" name="newPassword" required />
            <button type="submit">Restablecer Contraseña</button>
        </form>
    </section>
</section>
<br><br>
