<header>
    <nav>
        <ul class="nav">
            {{#if login}}
                <li>
                    <a href="/products">Products</a>
                </li>
                <li>
                    <a href="/chats">Chat</a>
                </li>
                <li>
                    <a href="/profile">Perfil</a>
                </li>
                <li>
                    <a href="/api/sessions/logout">Logout</a>
                </li>
                
            {{else}}
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/registro">Registro</a>
                </li>
                
            {{/if}}
        </ul>
    </nav>
    <hr />
</header>